<a href="https://colab.research.google.com/github/KrisGajda/Data-science-bootcamp-Krakowiak/blob/main/Data_science_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tworzenie obiektu typu array (tablicy)

In [ ]:
import numpy as np
A = np.array([1, 2, 3], dtype='float') # utworzenie tablicy jednowymiarowej typu float
A.dtype

dtype('float64')

In [ ]:
A = np.array([24, 120, 220], dtype=np.int16)
A.dtype

dtype('int16')

In [ ]:
X = np.zeros(shape=(3, 5)) # utworzenie tablicy zer o kształcie 3x5
X

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
E = np.ones(shape=(3, 5)) # utworzenie tablicy jedynek o kształcie 3x5
E

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
Y = np.full(shape=(5, 5), fill_value=4) # utworzenie tablicy o danym kształcie i wypełnionej określonymi wartościami
Y

array([[4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4]])

In [ ]:
import numpy as np
A = np.arange(120) # utwórz tabelę 120-elementową
A.reshape((10, -1)) # ... okształcie: 10 wierszy , dopasuj ilość kolumn (-1)

array([[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11],
       [ 12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35],
       [ 36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47],
       [ 48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71],
       [ 72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83],
       [ 84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95],
       [ 96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107],
       [108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119]])

In [ ]:
A.reshape((-1, 12)) # dopasuj ilość wierszy do dwunastu kolumn

array([[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11],
       [ 12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23],
       [ 24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35],
       [ 36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47],
       [ 48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71],
       [ 72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83],
       [ 84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95],
       [ 96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107],
       [108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119]])

Działania arytmetyczne na tabelach

In [ ]:
A = np.array([3, 1, 4, 2])
B = np.array([3, -1, 3, 2])
print(A)
print(B)

[3 1 4 2]
[ 3 -1  3  2]

In [ ]:
A+B

array([6, 0, 7, 4])

In [ ]:
np.add(A, B) # funkcja add() - dodawanie tablic

array([6, 0, 7, 4])

In [ ]:
A-B

array([0, 2, 1, 0])

In [ ]:
np.subtract(A, B) # funkcja substrackt() - odejmownanie tablic

array([0, 2, 1, 0])

In [ ]:
A*B

array([ 9, -1, 12,  4])

In [ ]:
np.multiply(A, B) # funkcja multiply() - mnożenie tablic (nie macieżowe!)

array([ 9, -1, 12,  4])

In [ ]:
A/B

array([ 1.        , -1.        ,  1.33333333,  1.        ])

In [ ]:
np.divide(A, B) # funcja divide() - dzielenie tablic

array([ 1.        , -1.        ,  1.33333333,  1.        ])

In [ ]:
A+3 # dodawanie określonej wartości do każdego elementu tablicy

array([6, 4, 7, 5])

In [ ]:
A*2 # mnożenie przez daną wartość każdego elementu tablicy

array([6, 2, 8, 4])

In [ ]:
A+3*B # dodawanie do tablicy pomnożonej wartości innej tablicy

array([12, -2, 13,  8])

Mnożenie macieżowe

In [ ]:
X = np.array([[1, 3], [-2, 0]])
Y = np.array([[6, 0], [-1, 2]])
print(X, '\n')
print(Y)

[[ 1  3]
 [-2  0]]

[[ 6  0]
 [-1  2]]

In [ ]:
np.dot(X, Y) # mnożenie maacieżowe -> wiersz x kolumna

array([[  3,   6],
       [-12,   0]])

In [ ]:
X.dot(Y) # to samo co wyżej - UWAGA mnożenie macieży nie jest przemienne!

array([[  3,   6],
       [-12,   0]])

In [ ]:
X @ Y # rownież zapis mnożenia macieży

array([[  3,   6],
       [-12,   0]])

Generowanie liczb pseudolosowych

In [ ]:
np.random.seed(0) # ziarno losowania

In [ ]:
np.random.randn() # losowy rozkład normalny

-1.4203853924563898

In [ ]:
np.random.randn(10) # tablica dziesięciu losowo wygenerowanych elementów z rozkładu normalnego standardowego (średnia 0 i odchylenie standardowe 1)

array([ 1.23112814,  1.38117045,  0.24070787,  0.2663047 , -0.50172243,
       -0.69298896,  1.34720025, -1.16822497, -0.68816014, -0.93776055])

In [ ]:
np.random.randn(10, 4) # macierz 10x4 losowych elementów z rozkładu normalnego standardowego. Może pomóc u stworzeniu histogramów rozkładu normalnego

array([[-1.47121739,  0.53563708,  1.27565831,  0.19329796],
       [ 0.06765002,  0.24054598,  0.60582126, -1.14931624],
       [-0.42343423,  2.53891024, -0.24200525,  2.63046348],
       [ 0.55749314,  0.022744  ,  0.52464761, -0.78699184],
       [-0.17945565, -0.72806077,  0.67291054,  1.23191456],
       [ 0.39333837,  0.2160677 , -1.33647448, -0.17117138],
       [ 1.55204749, -1.04981028,  1.33420541,  1.17723575],
       [ 0.41030793, -0.65994486, -1.81798665,  0.39270413],
       [ 0.2454609 , -1.08148767,  0.31181014, -1.58643203],
       [ 2.0537817 , -1.47306602, -0.48511758, -0.42904267]])

In [ ]:
np.random.rand() # losowa liczba z przedziału <0, 1). Rozkład jednostajny na przedziale

0.8433234053899142

In [ ]:
np.random.rand(10) # tablica dziesięciu losowo wygenerowanych elementów z rozkładu jednostajnego na przedziale <0, 1>

array([0.9005864 , 0.37657854, 0.71657664, 0.9181458 , 0.4200413 ,
       0.56290745, 0.63404594, 0.59449131, 0.37475465, 0.65383078])

In [ ]:
np.random.rand(10, 2) # tablica 2-wymiarowa 10x2

array([[0.80678897, 0.40994627],
       [0.81857522, 0.14682224],
       [0.81958112, 0.81572207],
       [0.29267129, 0.5411947 ],
       [0.11669356, 0.53908661],
       [0.43491764, 0.90464792],
       [0.57718927, 0.18606154],
       [0.07200331, 0.17981189],
       [0.04227584, 0.02543929],
       [0.09774377, 0.62876082]])

In [ ]:
np.random.randint(10) # losowa liczba całkowita z przedziału <0, 10)

5

In [ ]:
np.random.randint(low=10, high=101) # losowa liczba całkowita z przedziału <10, 101)

96

In [ ]:
np.random.randint(low=10, high=101, size=10) # tablica dziesięciu losowo wygenerowanych liczb całkowitych z przedziału <10, 101)

array([85, 60, 95, 47, 32, 83, 50, 71, 38, 26])

In [ ]:
np.random.choice([4, 2, 1, 3, 5]) # losowy element z listy

np.int64(1)

In [ ]:
np.random.choice(['python', 'java', 'sql']) # losowy element z listy

np.str_('sql')

In [ ]:
data = np.arange(10)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.random.shuffle(data) # losowa permutacja. Funkcja działa na oryginale zmiennej! W bibliotece pandas podobna funkcja zachodzi na kopii zmiennej - nie rusza oryginału!
data

array([6, 5, 3, 4, 0, 7, 1, 2, 8, 9])

Podstawowe funkcje w bibliotece NumPy

In [ ]:
np.exp(1) # Funkcja exponent. e do potęgi x

np.float64(2.718281828459045)

In [ ]:
np.sqrt(9) # pierwiastek kwadratowy. Zwraca zawsze w typie float

np.float64(3.0)

In [ ]:
np.all([2, 3, 1]) # funkcja przechodzi po wszystkich elementach listy i bada każdy element, czy zwraca wartość logiczną True, czy False. Wszystkie True -> wynik True

np.True_

In [7]:
np.any([0, 0, 0]) # funkcja sprawdza, czy jakikolwiek obiekt jest prawdą - tutaj każdy jest fałszem -> 0

np.False_

In [15]:
A = np.random.rand(5) # 5 wartości z rozkładu jednostajnego
A

array([0.66590767, 0.35018836, 0.56648665, 0.61543963, 0.22124149])

In [16]:
np.argmax(A) # zwraca indeks największej wartości

np.int64(0)

In [17]:
A[np.argmax(A)] # zwraca największą wartość

np.float64(0.6659076712591298)

In [18]:
np.argmin(A) # zwraca indeks najmniejszej wartości

np.int64(4)

In [19]:
np.argsort(A) # zwraca indeksy posortowanych wartości - sortuje rosnąco

array([4, 1, 2, 3, 0])

In [20]:
np.max(A) # zwraca największą wartość

np.float64(0.6659076712591298)

In [21]:
np.min(A) # zwraca najmniejszą wartość

np.float64(0.2212414938194126)

In [22]:
np.mean(A) # zwraca średnią arytmetyczną

np.float64(0.4838527609650691)

In [23]:
np.median(A) # mediana

np.float64(0.5664866479668528)

In [ ]:
np.std(A) # odchylenie standardowe

np.float64(0.2838992013095173)

In [31]:
R = np.random.randn(100) # wygenerowanie tablicy 100 losowych elementów z rozkładu normalnego standardowego
R = R.reshape(10, 10) # zmiana kształtu tablicy na macież (tablica 2-wymiarowa) o kształcie 10x10

array([[ 0.41979802,  0.40634462,  0.59339776,  2.51667828,  0.52179677,
        -1.92530955, -1.89282127,  0.85764051,  2.11253917, -1.2858712 ],
       [ 0.39830895, -2.39990264, -0.27418305, -0.01660719, -0.35007344,
         0.22406378, -0.38363224, -0.1331579 , -1.25313048, -0.35817071],
       [-0.77109948,  0.07248303, -1.71790655, -0.36290535, -0.65919606,
         0.35535803,  0.11924274,  0.73615424, -0.65025193, -0.94598013],
       [-0.26741887, -0.83528189,  0.02938183,  2.7275215 , -1.45564748,
        -0.75859874, -0.49247427, -0.67107275, -0.16150988,  2.90151687],
       [ 0.38266816, -1.65305379,  1.08857268,  0.47153643,  0.30042445,
        -0.95126442,  0.92469082,  0.57835418,  0.80989169, -0.07132197],
       [-0.12458675, -0.13791179,  0.62333632,  1.38557045,  0.97089025,
        -0.18226414,  0.56653171,  1.9748369 ,  0.34171004, -1.34202095],
       [ 0.60320341, -0.29961234, -0.32581876,  1.15344489,  2.11324367,
         1.23828068,  0.34806065, -0.38976724,  0.76728664,  0.10779678],
       [-0.70087006, -0.0810469 ,  0.31915481,  0.10621814,  1.32733371,
         0.60422256,  1.18758476,  1.18805452,  0.23631554, -0.7398625 ],
       [-1.21570403,  1.48668593,  0.412552  , -0.93151524, -0.58265072,
         0.35077656, -1.12744017, -0.36296076, -1.36221852,  1.44374501],
       [-0.72885924,  0.2737183 , -0.76724139, -0.5283657 , -0.45918641,
         0.09372335, -0.35143173,  0.42566456, -0.40123664, -0.27625641]])